body{
    font-family: Montserrat, "Montserrat", sans-serif;
}

.greeting-wrapper{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 60%, rgba(237,237,237,1) 100%);
}


.greeting-title{
    font-size: 60px;
}

.greeting-text{
    font-size: 30px;
    color: #868e96;
    line-height: 30px;
}
@media screen and (max-width: 1380px) {
    .greeting-title{
        font-size: 50px;
    }
    
    .greeting-text{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .greeting-wrapper{
        background: linear-gradient(to top,  rgba(237,237,237,1) 0%, rgba(246,246,246,1) 20%, rgba(255,255,255,1) 100%);
    }
    .greeting-title{
        font-size: 30px;
    }
    
    .greeting-text{
        font-size: 16px;
        line-height: 1.1rem;
    }
}

@media screen and (max-width: 576px) {
    .card-text{
        font-size: 12px;
    }
}

.footer-text{
    text-align: center;
    color: #868e96;
}

.icon-button i{
    color: #fff;
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2.6rem;
    margin: 0 5px 10px;
}

.proj-container{
    box-shadow: 0 10px 30px -15px rgba(0,0,0,.2);
    border-radius: 10px;
    border: 1px solid hsla(0,0%,82.7%,.397);
}
.proj-container .img-carousel {
    padding-top: 15px;
    padding-bottom: 15px;
}
.proj-container .img-carousel .img-slider{
    height: 420px;
    background: #f0f0f0;
    border-radius: 8px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.proj-container .img-slider .img-slide{
    margin-right: 15px;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    scroll-snap-align: start;
}
.proj-container .img-slider .img-slide img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    -webkit-user-drag: none;
}
.numbertext {
    color: #5a5a5a;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    width: 5rem;
}
.proj-container .proj-body{
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.proj-container .proj-body .proj-desc{
    font-size: 0.9rem;
}

.proj-container .proj-body .proj-tags{
    display: flex;
    justify-content: center;
}


.badge-custom{
    color: #fff;
    background-color: #50AFC0;
}

/* Phone - Tablet Portrait */
@media screen and (max-width: 768px) {
    .proj-container .img-carousel .img-slider{
        height: 280px;
    }
}